<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
      href="{{ request.url_for('static', path='style.css') }}">
    <title>Home</title>
</head>
<body>
    {% include "header.html" %}

    <main>
        <div class="container">
            <h2>Welcome, {{ request.session.get('username', 'User') }}!</h2>

            {% if request.session.get('role') == 'Administrator' %}
            <section class="manage-section">
                <h3>Manage</h3>
                <ul>
                    <li><a href="/manage/person_search">Person Search</a></li>                    
                    <li><a href="/manage/users">Users</a></li>
                    <li><a href="/manage/roles">Roles</a></li>
                    <li><a href="/manage/user_roles">User-Role</a></li>                    
                    <li><a href="/manage/addresses">Address</a></li>
                    <li><a href="/manage/contact_info">Phone/Email</a></li>                    
                </ul>
            </section>
            {% endif %}
        </div>
    </main>

    {% include "footer.html" %}
</body>
</html>
