<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
      href="{{ request.url_for('static', path='style.css') }}">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Student Management System</h1>
    </header>

    <main>
        <div class="container">
            <h2>Login</h2>
            <form action="/login" method="post">
                <label>Username:</label>
                <input type="text" name="username" required>

                <label>Password:</label>
                <input type="password" name="password" required>

                <label>Role:</label>
                <select name="role">
                    <option selected>Student</option>
                    <option>Faculty</option>
                    <option>Administrator</option>
                </select>

                <button type="submit">Login</button>
            </form>
        </div>
    </main>

    <footer>
        &copy; 2025 Student Management System | Final Semester Project
    </footer>
</body>
</html>
